.categoryContainer {
  text-align: center;
  margin-top: 10rem;
}

.custom-button {
  margin-bottom: 2rem;
}

.factsContainer h3 {
  font-style: italic;
}

.buttons-container,
.select-container  {
  margin: 20px 0;
}

DropdownButton {
  background-color: #7cc;
}